.card-image {
    height: 132px;
    overflow: hidden;

}

.card-image img {
    width: 100%;
    max-height: 100%;
}



/* .card {

    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    border-radius: 10px;
    overflow: hidden;

} */
.card {

    background: #fff;
    width: 100%;
    margin-bottom: 20px;
    /* box-shadow: 0 5px 25px rgb(1 1 1 / 20%); */
    border-radius: 10px;
    overflow: hidden;

}

.card:hover {
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
    transition: .2s;
}

.image {
    height: auto;
    overflow: hidden;
}

.image img {
    width: 100%;
    /* height: 200px; */
}

.viewEvent {
    margin-bottom: 5px;
}

.ems_name_error,
.ems_email_error {
    color: red;
}

/* .email-error {
    color: red;
} */

.required {
    color: red;
}

#ems_event_view,
#ems_registration_view {
    max-width: 100%;
}

.button {
    text-align: right;
}

.event_id {
    display: none;
}

.ems_event_title {
    display: inline;

}

.ems_filter {
    display: none;
    /* margin-left: 30px; */
    margin-bottom: 25px;
}

.ems_card_location,
.ems_startingDate {
    font-size: 15px;
    color: gray;
}

.viewEvent {
    margin-top: 10px;
}

.details {
    margin-top: 20px;
}

.event_title {
    font-size: 17px;
}

.ems_event_details {
    color: darkslategray;
    margin-top: 5px;
    font-size: 17px;
}

.ems_title {
    /* text-align: center; */
    margin-bottom: 15px;
    font-size: 22px;
}

#ems_register_submit {
    width: 100%;
}

.ems_register_close {
    width: 100%;

}

.ems_event_name {
    text-align: center;
}

.ems_row {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.ems_order,
.ems_orderBy,
.ems_category {
    width: 30%;
}

.ems_filter_table {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.ems_event_name {
    background-color: slategrey;
    color: white;
    border-radius: 5px;
}

.ems_register_form.col-md-4 {
    margin-top: 10%;
    /* margin-right: 15px; */
    border: .5px solid #D3D3D3;
    border-radius: 10px;
    padding-top: 10px;
}

.ems_row.row {
    width: 100%;
}

.viewEvent:hover {
    color: blue;
}

.ems_view {
    padding: 15px;
}

#ems_registration_form {
    background-color: #F0F0F0;
    /* background-color: #e6f2ff; */
    border-radius: 10px;
    padding: 10px;

}

.ems_spots_left {
    text-align: center;
    border-radius: 5px;
    background-color: #F0F0F0;
    /* background-color: #e6f2ff; */
    margin-top: 15px;
}

.ems_more_card.col-sm-3 {
    display: none;
}

.load-more {
    background-color: #000;
    color: #fff !important;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 20px;
    margin: 50px 0;
    display: inline-block;
}

.load-more:hover {
    background-color: blue;
    text-decoration: none;
}


/* select {

    appearance: none;

    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
} */
